{% extends "core/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block main %}
<div class="container-fluid bg-info">

    <div  class="row justify-content-center">
        <div  class="col-4">

            <h4 class="h4 mb-3 font-weight-normal">Войти либо зарегистрироваться!</h4>
            <form class="form-signin" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form.username }} <br>
            {{ form.password }}<br>
            <button type="submit" class="btn btn-primary footer_button">Log in</button>
                <a href="{% url 'register' %}">  <button type="button" class="btn badge-success footer_button"  >Sing in</button></a>

            </form>
        </div>
    </div>
</div>
<div  class="row justify-content-center">
    <div  class="col-4">
        <br>
        <br>
    </div>
</div>

        {% endblock %}